<?xml version="1.0" encoding="utf-8"?>
<robot
  name="test_bench">

  <link name="mountboom">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="0"  ixy="0"  ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.5707963268" />
      <geometry>
          <mesh
                filename=".\Assets\mountboom.stl" />
      </geometry>
      <material name="Default">
        <color rgba="0 0 0 0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.5707963268"/>
      <geometry>
        <mesh
                filename=".\Assets\mountboom.stl" />
      </geometry>
    </collision>
  </link>

  <!--
  Isaac-koordinaatin mukaan tarkistetut nostopuomin fyysiset ominaisuudet: (massa, massakeskipiste, inertia) - 12.9.2024 - Joni
  -->
  <link name="liftboom">

    <inertial>
      <origin xyz="0.03325681 -0.56532694 0.18977065" rpy="0 0 0"/>
      <mass value="1.3268 "/>
      <inertia ixx="0.48682682"  ixy="-0.02494275"  ixz="0.01406889" iyy="0.06777465" iyz="-0.14234527" izz="0.42938720" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
          <mesh
                filename=".\Assets\liftboom.stl" />
      </geometry>
      <material name="Default">
        <color rgba="0 0 0 0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh
                filename=".\Assets\liftboom.stl" />
      </geometry>
    </collision>
  </link>

  <!--
  Isaac-koordinaatin mukaan tarkistetut taittopuomin fyysiset ominaisuudet: (massa, massakeskipiste, inertia) - 12.9.2024 - Joni
  -->
  <link name="tiltboom">

      <inertial>
        <origin xyz="0.06387097 -0.00006030 0.01821805" rpy="0 0 0"/>
        <mass value="0.7769"/>
        <inertia ixx="0.00063080"  ixy="-0.00000081"  ixz="0.00019402" iyy="0.00949487" iyz="-0.00000110" izz="0.00904212" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
                filename=".\Assets\tiltboom.stl" />
        </geometry>
        <material name="Default">
          <color rgba="0 0 0 0"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh
                filename=".\Assets\tiltboom.stl" />
        </geometry>
      </collision>
    </link> 

  <!--
  Isaac-koordinaatin mukaan tarkistetut taittopuomin fyysiset ominaisuudet: (massa, massakeskipiste, inertia) - 12.9.2024 - Joni
  -->
  <link name="scoop">

      <inertial>
        <origin xyz="0.02737533 0.0 -0.05328392" rpy="0 0 0"/>
        <mass value="0.5724"/>
        <inertia ixx="0.00292556"  ixy="0.0"  ixz="-0.00067947" iyy="0.00328401" iyz="0.0" izz="0.00114091" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
                filename=".\Assets\scoopandmount.stl" />
        </geometry>
        <material name="Default">
          <color rgba="0 0 0 0"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh
                filename=".\Assets\scoopcollision.stl" />
                <!--
                Assettejen lokaatio
                -->
        </geometry>
      </collision>
    </link> 

    <!--
    Revolite_lift kulman raja-arvot, lower "0.1745329252" , uppre "1.6057029118", kulma-arvo radiaaneina.
    -->
  <joint
    name="revolute_lift"    
    type="revolute">
    <origin
    xyz="0.034 0 0.0625"
    rpy="0 0 0 " />
    <parent
      link="mountboom" />
    <child
      link="liftboom" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0.1745329252"
      upper="1.6057029118"
      effort="0"
      velocity="0" />
  </joint>

  <!--
  Revolite_tilt kulman raja-arvot, lower "-0.4886921906" , uppre "1.4835298642", kulma-arvo radiaaneina.
  -->
  <joint
    name="revolute_tilt"
    type="revolute">
    <origin
    xyz="0.20564 0 0.420085"
    rpy="0 0 0 " />
    <parent
      link="liftboom" />
    <child
      link="tiltboom" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4886921906"
      upper="1.4835298642"
      effort="0"
      velocity="0" />
  </joint>

  <!--
  Revolite_scoop kulman raja-arvot, lower "-0.5235987756" , uppre "1.1344640138", kulma-arvo radiaaneina.
  -->
  <joint
    name="revolute_scoop"
    type="revolute">
    <origin
    xyz="0.250 0 0"
    rpy="0 -1.5707963268  0 " />
    <parent
      link="tiltboom" />
    <child
      link="scoop" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.5235987756"
      upper="1.1344640138"
      effort="0"
      velocity="0" />
  </joint>

</robot>